BasedOnStyle: LLVM
BreakBeforeBraces: Allman
ColumnLimit: 0
IndentWidth: 2
KeepEmptyLinesAtTheStartOfBlocks: false
AllowShortIfStatementsOnASingleLine: true
PointerBindsToType: false
SortIncludes: false
AlignConsecutiveAssignments: true
PointerAlignment: Left
SpacesBeforeTrailingComments: 1
TabWidth: 4
UseTab: Never
