[submodule "3rdparty/tracy"]
	path = 3rdparty/tracy
	url = https://bitbucket.org/wolfpld/tracy.git
[submodule "3rdparty/bgfx"]
	path = 3rdparty/bgfx
	url = https://github.com/bkaradzic/bgfx
[submodule "3rdparty/bimg"]
	path = 3rdparty/bimg
	url = https://github.com/bkaradzic/bimg
[submodule "3rdparty/bx"]
	path = 3rdparty/bx
	url = https://github.com/bkaradzic/bx
[submodule "3rdparty/yojimbo"]
	path = 3rdparty/yojimbo
	url = https://github.com/networkprotocol/yojimbo
[submodule "3rdparty/enkiTS"]
	path = 3rdparty/enkiTS
	url = https://github.com/dougbinks/enkiTS
[submodule "3rdparty/vcpkg"]
	path = 3rdparty/vcpkg
	url = https://github.com/microsoft/vcpkg.git
